*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Latex #
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/.qmake.stash
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/main.o
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/Makefile
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/moc_mainwindow.cpp
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/moc_mainwindow.o
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/ui_mainwindow.h
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/ichVerwalte.app/Contents/Info.plist
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/ichVerwalte.app/Contents/PkgInfo
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/ichVerwalte.app/Contents/MacOS/ichVerwalte
qt/build-ichVerwalte-Desktop_Qt_5_6_0_clang_64bit-Debug/ichVerwalte.app/Contents/Resources/empty.lproj
